body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.container {
    width: 800px;
    height: 800px;
    border: 1px solid lightslategray;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(800px / 16);
    height: calc(800px / 16);
    /*box-sizing: border-box; */
}

.hoverState {
    background-color: black;
}
